# External dependencies
vendor/*
bower_components/*
node_modules/*
selenium/*

# Eclipse stuff
.buildpath
.project
.settings/*

# Compiled files
assets/js/*
assets/css/*
assets/fonts/*
.sass-cache/*
selenium.log
